*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.borda-laranja{
    border: 1px solid #fe712a;
}
.tabela{
    display: inline;
    position: relative;
    width: 700px;
    left: 5rem;
}
table{
    width: 900px;
}
td,thead{
    vertical-align: middle;
    text-align: center;
}
thead{
    background-color: #e6e6e6;
    color: #8F8E8E;
}
.btn-img{
    border: none;
    background-color:transparent;
}
.img-resize{
    width: 100px;
    height: 100px;
}
.container-fluid{
    justify-content: end;
}
h3{
    font-weight: bold;
    margin-left: 8.5rem;
}
.offcanvas-body > a,label{
    text-decoration: none;
    color: #fe712a;
    font-size: 1.5rem;
    display: block;
    padding: 1rem;
}
