/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.d-flex {
    width: 79vw;   
    justify-content: space-between;
    position: absolute;
    top: 10vh;
    left: 10vw;
}

.borda-laranja{
    border: 1px solid #fe712a;
}

   
.btn-img{
    border: none;
    background-color:transparent;
}
.img-resize{
    width: 100px;
    height: 100px;
}
.container-fluid{
    justify-content: end;
}
h3{
    font-weight: bold;
}
.offcanvas-body > a,label{
    text-decoration: none;
    color: #fe712a;
    font-size: 1.5rem;
    display: block;
    padding: 1rem;
}
 */