
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Login style começo */

#loginmod{
    background-color: #F9F8F8;
    width: 30%;
    height: 360px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8%;
    text-align:center;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    
}

#h1style{
    margin-top: 20px;
    margin-left: 50px;
    text-align: left;
}

#buttonb{
    background-color: black;
    color: #F9F8F8;
    width: 60%;
    height: 40px;
    border-radius: 8px;
    border: none;
}

#linkb{
    font-size:small;
    text-decoration: none;
    color: black;
}

.bordainput{
    padding: 0.5rem;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    background-color: #2c82fb;
    color: #F9F8F8;
    border: none;
}

.meu-input::placeholder {
    color: #F9F8F8;
  }

.fontelogin{
    color: gray;
    font-size: 10px;
    margin-left: 100px;
    text-align: left;
}

.cent{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

/* Login style fim */

/* Quemsomos style começo */

#margem{
    margin-top: 30px;
}

.caixa-laranja{
    background-color: #FB732C;
    color: #F9F8F8;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 10px;
}

/* Quemsomos style fim /*

/* style cabeçalho inicio */

nav{
    text-align: center;
}

.logowidth{
    margin-top: 10px;
    margin-left: 20px;
    width: 150px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

nav ul {
    list-style: none; /* especifica o estilo para uma lista como padrão*/
    margin: 0; /* define a área de margem nos quatro lados do elemento */
    padding: 0; /* é responsável por definir uma distância interna entre um elemento e sua borda */
    background-color:#FB732C; /* cor do menu de navegação */
}
  
nav li {
    display: inline-block; /* faz com que o elemento HTML seja renderizado inline, dentro do bloco na mesma linha */
}
  
nav li a {
    display: block;
    color:#F9F8F8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav li a:hover {
    color: #000000;
    font-size: large;
    font-weight: bold;
}

/* style cabeçalho fim */

/* style footer início */

footer {
    position: fixed; /* mantém a posição fixa do rodapé em relação a página */
    justify-content: space-between;
    display: flex; /* Quando colocamos essa propriedade em um elemento, esse elemento se torna um flex container, a partir daí podemos manipular todos os elementos filhos desse flex container com propriedades novas */
    align-items: center; /* Os itens são centralizados no eixo transversal */
    flex-wrap:wrap; /* serve para definir se os itens dentro do contêiner poderão ocupar multiplas linhas ou não. Se sim, os elementos quebradão linha quando chegar no limite do elemento pai, caso não, os elementos serão dimencionados de forma a caberem no elemento pai */
    flex-direction: row; /* permite alterar a direção na qual os elementos flex serão exibidos ao longo do eixo principal */
    background-color:#FB732C;
    color:#F9F8F8;
    left: 0; /* fica colado a esquerda */
    right: 0;
    width: 100%; /* tamanho do flex container */
    height: auto; /* determina a altura da área do conteúdo de um elemento em relação ao elemento-pai do box */
    bottom: 0; /* define a posição vertical do elemento em relação a sua borda inferior */
}

.left {
    margin-left: 10px;
}
  
.right {
    letter-spacing: -1px; /* ajusta o espaçamento entre as letras */
    word-spacing: -1px; /* ajusta o espaçamento entre as palavras */
    font-size: small;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    text-align: right;
}

.imgfooter{
    width: 35px;
}

.link-sem-barra {
    text-decoration: none;
  }
  

/*style footer final */

  
