
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-repeat:no-repeat;
    background-size: 100%;
    background-image: url(/guia_brecho/img/brecho.jpg);
    font-family: 'Ysabeau', sans-serif;
}

/* Login style começo */
#loginmod{
    background-color: #F9F8F8;
    width: 20%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8%;
    text-align:center;
    border-width: 0%;
    
}

#buttonb{
    background-color: black;
    color: #F9F8F8;
    width: 55%;
    height: 30px;
    border-radius: 8px;
}

#linkb{
    font-size: 70%;
    color: black;
}

.bordainput{
    padding: 0.5rem;
    width: 270px;
    height: 35px;
    border-radius: 10px;
    background-color: #FB732C;
    color: #F9F8F8;
}

.meu-input::placeholder {
    color: #F9F8F8;
  }

.fontelogin{
    color: gray;
    font-size: 12px;
}
/* Login style fim */

/* Quemsomos style começo */

#margem{
    margin-top: 30px;
}

.caixa-laranja{
    background-color: #FB732C;
    color: #F9F8F8;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 10px;
}

/* Quemsomos style fim /*

/* style cabeçalho inicio */

nav{
    text-align: center;
}

.logowidth{
    margin-top: 10px;
    margin-left: 20px;
    width: 150px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

nav ul {
    list-style: none; /* especifica o estilo para uma lista como padrão*/
    margin: 0; /* define a área de margem nos quatro lados do elemento */
    padding: 0; /* é responsável por definir uma distância interna entre um elemento e sua borda */
    background-color:#FB732C; /* cor do menu de navegação */
}
  
nav li {
    display: inline-block; /* faz com que o elemento HTML seja renderizado inline, dentro do bloco na mesma linha */
}
  
nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav li a:hover {
    color: #000000;
}

/* style cabeçalho fim */

  
