@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body {
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Ysabeau', sans-serif;
  background-blend-mode: overlay;
}

html,
body {
  position: relative;
  min-height: 100vh;
  overflow: auto;
}

main {
  padding-bottom: 4rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
}

#logo-icone {
  width: 5rem;
}

.loja .slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.loja .slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.loja .card {
  border-radius: 25px;
  background-color: #FFF;
}

.loja .image-content,
.loja .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.loja .image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.loja .overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--bs-orange);
  border-radius: 25px 25px 0 25px;
}

.loja .overlay::before,
.loja .overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: var(--bs-orange);
}

.loja .overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}

.loja .card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}

.loja .card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--bs-orange);
}

.loja .name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.loja .description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.loja .button {
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: var(--bs-orange);
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.loja .button:hover {
  background: var(--bs-orange);
}

.loja .swiper-navBtn {
  color: var(--bs-orange);
  transition: color 0.3s ease;
}

.loja .swiper-navBtn:hover {
  color: var(--bs-orange);
}

.loja .swiper-navBtn::before,
.loja .swiper-navBtn::after {
  font-size: 35px;
}

.loja .swiper-button-next {
  right: 0;
}

.loja .swiper-button-prev {
  left: 0;
}

.loja .swiper-pagination-bullet {
  background-color: var(--bs-orange);
  opacity: 1;
}

.loja .swiper-pagination-bullet-active {
  background-color: var(--bs-orange);
}

@media screen and (max-width: 768px) {
  .loja .slide-content {
    margin: 0 10px;
  }

  .loja .swiper-navBtn {
    display: none;
  }
}