<!DOCTYPE html>
<html lang="br-pt">
<head>
    <style>
    body{
        background-image: linear-gradient(to left ,white , blue ,rgb(0, 255, 30),rgb(255, 47, 0)  );
    }
    h1{
        color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 50px;
    }
    </style>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Degradê</h1>
    <ul>
        <li></li>
    </ul>
</body>
</html>